.imageContent {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
}

.mainContent {
  padding: 1.5%;
  border: 1px solid #d3d3d3;
}

.paragraphContent {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cardHeaderContent {
  font-size: 1.4rem;
}

.cardHeaderContent > div > span {
  font-size: 1.4rem !important;
}

.MuiCardContent-root > p {
  font-size: 1.5rem;
}

.MuiCardContent-root > h2 {
  font-size: 2rem;
}
